// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-position {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.position {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}


/* ドロップダウンメニュー */ 

.dropdown_menu {
  position: relative;
}
.dropdown_menu select {
  border: 1px solid #ccc;
  padding: .25em;
  width: 80%;
	border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.dropdown_menu select::-ms-expand {
　display: none;
}
.dropdown_menu::after {
  position: absolute;
  z-index: 2;
  font-size: 10px;
  display: block;
	position: absolute;
	top: 1.9em;
	right: 2.7em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #666666;
	pointer-events: none;
}

/* ドロップダウンメニュー */ 

.dropdown_menu2 {
  position: relative;
  padding: .2em;
}
.dropdown_menu2 select {
  border: 1px solid #ccc;
  padding: .25em;
  width: 70%;
	border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.dropdown_menu2 select::-ms-expand {
　display: none;
}
.dropdown_menu2::after {
  position: absolute;
  z-index: 2;
  font-size: 10px;
  display: block;
	position: absolute;
	top: 1.4em;
	right: 4.3em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #666666;
	pointer-events: none;
}

.btn-sm {
  height: 30px;
}